.section1{
  background-color: #555;
  color: white;
  font-size: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  min-height: 500px;

  background-attachment: fixed;
  background-position: center center;
}
.section1 div{
  padding: 10% 10px;
  color: white;
}
.section1 div.slogan{
  font-size: 60px;
  text-align: center;
}
.section2{
  height: 450px;
  background-color: #f08080;
  color:#fff;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: inherit;
  position: relative;
}
.section2 div.s2-text1 {
  padding: 50px 5px 0px 20px;
}
.section2 div.s2-text2 {
  text-align: center;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  margin-bottom: 10px;
}
.section3 {
  min-height: 500px;
  /* background-color: #8080f0; */
  background-color: #f08080;
  color: #f0f080;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3 div{
  margin-left: 50px;
  font-size: 20px;
}
.section3 ul{
  line-height: 3em;
}
.section4 {
  min-height: 600px;
  background-color: #f0f080;
  margin-top: -10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
  opacity: 0.9;
  background-attachment: fixed;
  position: relative;
}
.section4 div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 80px;
    cursor: pointer;

}
.section4 a{
  text-decoration: none;
}
.section5{
  min-height: 500px;
  background-color: #f08080;
  color: #f0f080;
  line-height: 3em;
}
.section5 div{
  left: 40%;
  position: absolute;
  transform: translateX(-10%);
  margin-top: 50px;
}
.section5 ul{
  font-size: 1.5em;
    font-style: oblique;
}
.section5 ul li:first-child{
  list-style-image: url(../../img/apple.png);
}
.section5 ul li:nth-child(2){
  list-style-image: url(../../img/grapes.png);
}
.section5 ul li:nth-child(3){
  list-style-image: url(../../img/cheese.png);
}
.section5 ul li:nth-child(4){
  list-style-image: url(../../img/orange.png);
}
.section5 ul li:nth-child(5){
  list-style-image: url(../../img/strawberry.png);
}
.section5 ul li:nth-child(6){
  list-style-image: url(../../img/pineapple.png);
}
.section5 ul li:nth-child(7){
  list-style-image: url(../../img/cherries.png);
}
.section5 ul li:nth-child(8){
  list-style-image: url(../../img/cupcake.png);
}
