.goals-page {
  margin-left: 20px;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  width: 20%;
  margin-top: 50px;
  padding-top: 20px;
}
.goals-page > div{
  float: left;
    padding: 10px 20px;
    background-color: #8b0000;
    color: white;
    margin: 1% 2%;
    /* width: 350px; */
    min-height: 150px;
    /* max-height: 150px; */
    text-align: center;
    font-size: 22px;
    /* max-width: 16%; */
    border-radius: 6px;
}

.goals-setting-text{
  min-height: 25px;
  font-size: 18px;
}
.goals-page div>input, select{
  width:100%;
  color:black;
  text-align: center;
}

/* .shopping-basket-total{
  background-color: black !important;
  border-radius: 0px !important;
  padding: 10px 0px !important;
} */
.basket-over-limit{
  color:red !important;
}
.shopping-limit{
  /* background-color: gray !important; */
}
.highlight-box{
  /* border-radius: 6px; */
}
.basketActions{
  width: 100%;
  background-color: black;
  padding-bottom: 30px;
}

#btnSaveBasket{
  width: 90%;
  background-color: lightcoral;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}
#howOftenShop{
  padding: 4px;
}
#basketLimit{
  background-color: #8b0000;
  color: white;
}
