.goals-container{
  background-color: #f5f5dc;
}
.goals-page {
  padding-top: 70px;
  margin-left: 20px;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
}
.goals-page > div{
  float: left;
    padding: 10px 20px;
    background-color: #8b0000;
    color: white;
    margin: 1% 2%;
    width: 350px;
    min-height: 150px;
    max-height: 150px;
    text-align: center;
    font-size: 22px;
    max-width: 16%;
    border-radius: 6px;
}

.goals-setting-text{
  min-height: 80px;
  font-size: 18px;
}
.goals-page div>input, select{
  width:100%;
  color:darkgreen;
  text-align: center;
}
.target-error{
  font-size: 14px;
  color:pink;
  height: 18px !important;
}
.shopping-basket-total{
  background-color: black !important;
  border-radius: 0px !important;
  padding: 10px 0px !important;
}
.basket-over-limit{
  color:red !important;
}
.shopping-limit{
  /* background-color: gray !important; */
}
.highlight-box{
  /* border-radius: 6px; */
}
.basketActions{
  width: 100%;
  background-color: black;
  padding-bottom: 30px;
}
#basketTotal{
  width:90%;
}
#btnSaveBasket{
  width: 90%;
  background-color: lightcoral;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}
#howOftenShop{
  padding: 4px;
}
