#searchProducts{
  text-align: center;
  margin: 20px 0;
}
#searchBar{
  width: 50%;
  margin: 0 auto;
}
#btnSaveBasket{
}
#search-container{
  width: 55%;
  margin: 0 auto;
  display: inline-block;
  padding-left: 20px;
}
